<template>
    <div>
        <span class="title">{{current.name}} ({{current.items.length}} Items)</span>

        <a href="#" @click="editCategory(current)">
            <i class="fas fa-pencil-alt"></i>
        </a>

        <a href="#" onclick="return false;" @click="removeCategory(current.id)">
            <i class="fas fa-trash"></i>
        </a>

        <ul v-if="current.children.length > 0">
            <li v-for="child in current.children">
                <category :current="child"></category>
            </li>
        </ul>

        <ul>
            <li class="item" v-for="item in current.items">{{ item.title }}
                <a href="#" @click="editItem(item)">
                    <i class="fas fa-pencil-alt"></i>
                </a>

                <a href="#" onclick="return false;" @click="removeItem(item.id)">
                    <i class="fas fa-trash"></i>
                </a>

            </li>
        </ul>
    </div>
</template>

<script>
    export default {

        props: ['current'],

        methods: {
            removeCategory: function (category) {
                this.$bus.$emit('deleteCategory', category)
            },

            editCategory: function (category) {
                this.$bus.$emit('editCategory', category)
            },

            removeItem: function (item) {
                this.$bus.$emit('deleteItem', item)
            },

            editItem: function (item) {
                this.$bus.$emit('editItem', item)
            }
        },
    }
</script>


<style scoped>
    .title {
        font-weight: bold;
    }

.category .item {
    font-weight: normal;
}

.category .item a{
    color: red;
}
</style>